<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.soleseek">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- permission for internet -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soleseek"
        tools:targetApi="31">
        <activity
            android:name=".brand_skechers"
            android:exported="false" />
        <activity
            android:name=".brand_puma"
            android:exported="false" />
        <activity
            android:name=".brand_adidas"
            android:exported="false" />
        <activity
            android:name=".brand_nike"
            android:exported="false" />
        <activity
            android:name=".brand_newbalance"
            android:exported="false" />
        <activity
            android:name=".brand_onitsukatiger"
            android:exported="false" />
        <activity
            android:name=".brand_converse"
            android:exported="false" />
        <activity
            android:name=".brand_vans"
            android:exported="false" />
        <activity
            android:name=".brand_fila"
            android:exported="false" />
        <activity
            android:name=".women_casual"
            android:exported="false" />
        <activity
            android:name=".women_running"
            android:exported="false" />
        <activity
            android:name=".men_casual"
            android:exported="false" />
        <activity
            android:name=".men_running"
            android:exported="false" />
        <activity
            android:name=".men_basketball"
            android:exported="false" />
        <activity
            android:name=".brand_category_activity"
            android:exported="false" />
        <activity
            android:name=".terms_conditions"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_menu_activity"
            android:exported="true">

            <!-- Declare parent activity for back navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".men_category_activity"
            android:exported="true">

            <!-- Declare parent activity for back navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_menu_activity" />
        </activity>
        <activity
            android:name=".women_category_activity"
            android:exported="true">

            <!-- Declare parent activity for back navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_menu_activity" />
        </activity>
        <activity
            android:name=".scan_brand_activity"
            android:exported="false" />


    </application>

</manifest>